    header{
      position: fixed;
      display: absolute;
      top: -10px;
      z-index: 999;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: black;
      width: 99%;
    }
    div{
      display: block;
    }
    div{
      display: block;
    }
    .navbar{
      width: 1170px;
      margin: 0 auto;
    }
    img{
      border: 0;
      max-width: 100%;
      height: auto;
    }
    header.logo{
      float: left;
    }
     nav{
      float: right;    
      }
      nav ul{
      padding: 0px;
      list-style-type: none;
      margin-top: 15px;
      margin-right: 0px;
      margin-bottom: 10px;
      margin-left: 0px;
      }
      nav ul li{
        float: left;
      position: relative;
      }
      li{
      display: list-item;
      }
      nav ul li a{
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      text-decoration: none;
      margin-left: 15px;
      margin-right: 15px;
      color: rgb(255, 254, 254);
      }
      .img-top {
        float: left;
        margin-right: 5em;
        margin-left: 10em;
        margin-bottom: 3em;
        width: 40%;
        border-radius: 25px;
      }
      body{
        font-family: "poppins";
        font-size: 14px;
        font-weight: 300;
        line-height: 1.625em;
      }
      .text{
        margin-right:  5em;
        padding-right: 3em;
      }
      .img-right{
        margin-right: 2em;
        margin-left: 5em;
        margin-bottom: 3em;
        width: 30%;
        border-radius: 25px;
      }
      .tulisan{
        margin-left: 5em;
        margin-top: 1em;
      }
      .atas{
        background-color: grey;
        margin-top: 6em;
        margin-left: 10em;
        margin-right: 8em;
        padding-top: 1em;
        padding-bottom: 0em;
        border-radius: 15px;
        padding-left: 0em;
        padding-right: 4em;
        text-align: center;
      }
      .bawah{
      margin-top: 5em;
      margin-bottom: 3em;
      }
      .card-wrapper{
      margin: 10em 3em;
      margin-left: 0em;
      margin-right: 0em;
      padding-top: 5em;
      padding-bottom: 2em;
      padding-left: 13em;
      padding-right: 12em;
      background-image: url("bgkntr.jpg");
      height: 16em;

      }
      .card{
      background-color: white;
      width: 20em;
      float: left;
      padding: 1em;
      margin: 0.5em;
      border-radius: 15px;    
      }
      .card-title{
      margin:auto 0;
      }
      .card-text{
      margin:auto 0;
      }
      .berita{ 
      text-align: center;
      height: 20em;
      padding-left: 19em;
      padding-right: 19em;
      }
      .isi-berita{
      font-family: "poppins", sans-serif;
      background-color: white;
      width: 17em;
      height: 10em;
      float: left;;
      padding: 1em 1em 1em;
      margin: 0em;  
      }
      .berita1{
      background-image: url(berita1.jpg);
      background-size: 100%;
      border-radius: 15px;
      padding: 2em 2em 2em;
      }
      .berita2{
      background-image: url(berita2.jpg);
      background-size: 150%;
      border-radius: 15px;
      padding:2em 2em 2em;
      }
      .berita3{
      background-image: url(berita3.jpg);
      background-size: 100%;
      border-radius: 15px;
      padding:2em 2em 2em;
      }
      @font-face{
        font-family: 'Poppins';
        src: url(Poppins-Light.ttf);
      }
      footer{
      padding-left: 1em;
      margin-top: 5em;
      padding-top: 15px;
      padding-bottom: 15px;
      color: white;
      background-color: black;
      }
      footer p {
        margin-top: 1em;
      }